{% extends "layout.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light  sticky-top ">
    <div class="container">
  <a class="navbar-brand" href="#"><img src="images/logo.png" lt="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav justify-content-end ml-auto">
    
        <li class="nav-item text-uppercase">
            <a class="nav-link" href="/">Home</a>
          </li>
      
        <li class="nav-item text-uppercase">
          <a class="nav-link" href="/about">about</a>
        </li>
       
       
          <li class="nav-item text-uppercase">
              <a class="nav-link" href="/login">login</a>
            </li>
           
     </ul>
  </div>
</div>
</nav>

<h2 class="text-center text-capitalize">Create your account</h2>
<div  class="container padding col-md-8">

    <form method="POST" action=""  class="col-md-10">
        {{ form.hidden_tag() }}
          <div class="form-row">
            <div class="col">
                {{ form.firstname.label(class="form-control-label") }}


                {% if form.firstname.errors %}
                        {{ form.firstname(class="form-control form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.firstname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                {{ form.firstname(class="form-control form-control") }}
                {% endif %}
            </div>
            <div class="col">
                {{ form.lastname.label(class="form-control-label") }}
                {% if form.lastname.errors %}
                {{ form.lastname(class="form-control form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.lastname.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.lastname(class="form-control form-control") }}
                {% endif %}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              {{ form.jobname.label(class="form-control-label") }}
              
              {% if form.jobname.errors %}
              {{ form.jobname(class="form-control form-control is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.lastname.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.jobname(class="form-control form-control") }}
              {% endif %}
            </div>
            <div class="form-group col-md-4">
              {{ form.hospital.label(class="form-control-label") }}
             
              {% if form.hospital.errors %}
              {{ form.hospital(class="form-control form-control is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.hospital.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.hospital(class="form-control form-control") }}
              {% endif %}
            </div>
            <div class="form-group col-md-2">
              {{ form.rmdc.label(class="form-control-label") }}
              {% if form.rmdc.errors %}
              {{ form.rmdc(class="form-control form-control is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.rmdc.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.rmdc(class="form-control form-control") }}
              {% endif %}
            </div>
          </div>

        
            <div class="form-row">
            <div class="form-group col-md-6">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
              {{ form.email(class="form-control form-control is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
                    {{ form.email(class="form-control form-control") }}
                    {% endif %}
                  </div>
              <div class="form-group col-md-3">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
              {{ form.password(class="form-control form-control is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
                {{ form.password(class="form-control form-control") }}
                {% endif %}
              </div>
              <div class="form-group col-md-3">
                {{ form.confirm_password.label(class="form-control-label") }}
                {% if form.confirm_password.errors %}
              {{ form.confirm_password(class="form-control form-control is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.confirm_password.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
                {{ form.confirm_password(class="form-control form-control") }}  
                {% endif %}
                </div>
            </div>
            <div class="form-group">
                {{ form.submit(class="btn-signup") }}
            </div>
            <div class="">
                <small class="text-muted">
                    Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Login</a>
                </small>
            </div>
  
            
        
 
    
    </form>
    
</div>
{% endblock content %}